/*============== COMMON WHITE HEADER ============*/
header .nav .nav-link {
    font-size: 14px;
    min-width: 100px;
    text-align: center;
    color: #6f6e75;
}

header .nav .nav-link.link-active {
    font-family: 'Poppins-SemiBold';
    border: 2px solid #FB6339;
    border-radius: 2rem;
    padding: 6px 8px;
    color: var(--accent-dark);
}

header .role-badge {
    font-family: 'Poppins-SemiBold';
    color: white;
    border-radius: 2rem;
    letter-spacing: 1px;
}

/*============ OVERRIDDEN COLORED HOME PAGE HEADER ============*/
.home-header, .banner {
    background: #FDC057;
}

.home-header .nav-link {
    /* color: #4F1E05 !important; */
    color: #141C3A !important;
    font-family: 'Poppins-Medium';
    padding-bottom: 0 !important;
}

/*============ HEADER STYLES FOR AUTHENTICATED MEMBERS ============*/
.role-badge.role-admin { background-color: #FF7701; }
.role-badge.role-tutor { background-color: #624CC2; }
.role-badge.role-learner { background-color: #007E7E; }
